body {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.wagerMessageHidden {
    display: none;
}

.wagerClass {
    display: block;
}

.startButtonFalse {
    pointer-events: none;
}